.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 5vw;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  width: 100%;

  background-color: rgba(48, 51, 211, 0.959);
}

.botoes {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 50px;
}

.container button {
  height: 100px;
  width: 100px;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 2vw;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10% 10% 10% 10%;
  border-color: rgb(136, 1, 189);
  background-color: rgb(232, 224, 243);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 70px;
  height: 50vw;
  width: 40vw;

  background-color: rgb(18, 65, 196);
  border: 5px solid purple;
}

.content h3 {
  color: white;
}

.content img {
  margin-bottom: 40px;
  height: 20vw;
  border-radius: 10% 10% 10% 10%;
}
